/*
Folha de estilo de site one page html5 e css3
augusto zano domingos
*/
/*CSS Reset*/
*{
margin:0;
border:0;
padding:0;
}
  /* importacao de google fonts*/
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
  }
  /*layout*/
  .Container{
    margin: 0 auto;
    /*background-color: #dcdcdc;*/
  }
  .Flex{
    display: flex;
    justify-content: space-between;
    /*background-color: #a9a9a9;*/
  }
  .Flex2{
    display: flex;
    align-items: center;
  }
  .Flex3{
    display: flex;
    flex-direction: column;
  }
  .Botao{
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #c00000;
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 25px;
  }
  /* topo do site*/
  #topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
/*  smartphone vertical*/
  /*cabelho */
  header{
   height: 60px;

  }
   #logo img{
    width: 120px;
    height: 120px;
   }
#check{
  display: none;
}
label{
  font-size: 3em;
  position: fixed;
  top: 5px;
  right: 15px;
  color: rgba(0,0,0,0.5);

    
}
nav ul{
  list-style: none;
  background-color: #343638;
  height: 100vh;
  position: fixed;
  top: 60px;
  right: -100%;
  width: 100%;
  transition: all 0.5s;
}
#check:checked ~ ul{
right: 0;
}
nav ul li{
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}
/*Destaque*/
main{
  height: 75vh;
  background: url(imag/banner.jpg);
  background-size: cover;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main h1{
  font-size: 2.5em;
}
main h2{
  font-size: 1em;
  margin: 20px 0px 50px 0px;
}

/*sobre*/
#sobre{
  padding: 50px 0px ;
  background: url(imag/background.png);
  background-size: cover;
  background-position: center;
}
#destaqueSobre{
  display: none;
}
#textSobre{
   color: #fff;
   padding: 0px 10px;
   
}
#textSobre h2{
  margin-bottom: 10px;
}
  .topicoSobre{
    margin-top: 20px;
  }
   .topicoSobre img{
    margin: 10px;
   }
/*one page*/
#onePage{
  padding: 50px 10px;
}
 #onePage h2{
  margin-bottom: 10px;
 }
 #onePage p{
  margin-bottom: 25px;
 }
 #video iframe{
  width: 340px;
  height: 191px;
  border: 0;
 }

/*smartphone horizontal*/
 @media (min-width:576px) {
    
    .Container{
        max-width: 540px;
    }
    /*Destaque*/
    main h1, main h2{
      text-shadow: #000 0.5em 0.5em 0.5em 0.5em;
    }
    /*one Page */
    #video iframe{
      width: 560px;
      height:315px ;
    }

 }
/*table vertical*/
@media (min-width: 768px){

.Container{
    max-width: 720px;
}
/*Destaque*/
main{
  height: 45vh;
}
main h1{
  font-size: 5.5em;

}
main h2{
  font-size: 2em;
}
/
}
/*tablet horizontal*/
@media (min-width: 992px){
    
    .Container{
        max-width: 960px;
    }
    /*Destaque*/
    main{
      height: 70vh;
    }
}
/*pc*/
@media (min-width:1200px){
    
    .Container{
        max-width: 1140px;
    }
    /*cabelho*/
    header{
      height: 120px;
    }
    #logo img{
      width: 189px;
      height: 189px;
    }
    label{
      display: none;
    }
    nav ul{
      position: static;
      height: auto;
      background-color: transparent;
      margin-top: 50px;
    }
    nav ul li{
      float: left;
      border: 0;
    }
    nav ul li a{
      color: #343538;
    }
    nav ul li a:hover{
      color: #c00000;
    }
    /*sobre*/
    #destaqueSobre{
  display: inline;

    }
    #destaqueSobre img{
      border-radius: 50%;
      margin-right: 50px;
    }
    .Flex3{
      flex-direction: row;
      align-items: center;
    }
}
